@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{

    --cor01: #ff7361;
    --cor02: #f19100;
    --cor03: #212121;
    --cor04: #81b7b8;
    --cor05: #3B618F;
    --cor06: #2f4858c2;
    --cor07: #233953;

}

body, html{
    width: 100vw;
    height: 100vh;
    background-color: var(--cor02);
    background-image: none;
    background-position: center center;
    background-size: cover;
}

section{
    position: relative;
}

#imagem{
    display: none;
}

img{
    display: none;
}

#caixalogin{
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);

    background-color: var(--cor06);
    width: 300px;
    height: 450px;
    border-radius: 50px 50px 50px 0px;
    border: 3px solid #161616;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.404);
    padding: 15px;
    transition: width 500ms;
}

#caixalogin h1{
    color: var(--cor03);
    text-align: center;
    text-shadow: 3px 3px 4px #212121e1;
    font-size: 2em;
}

.textosec{
    color: var(--cor01);
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
    margin-bottom: 15px;
}

#emoji{
    margin: auto;
    text-align: center;
    box-shadow: -4px 4px 5px #6b3029e1;
    background-color: #161616b4;
    font-size: 1.8em;
    border-radius: 50%;
    border: 4px solid #b95446;
    width: 50px;
    height: 50px;
}

form{
    margin: auto;
    width: 270px;
    border-radius: 15px;
}

input{
    background-color: var(--cor00);
    color: white;
    padding: 5px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
}

#pcadastro{
    margin-top: 15px;
    font-weight: bold;
}

#pcadastro > a{
    color: black;
    text-decoration: none;
}

#pcadastro > a:hover{
    text-decoration: underline;
}

.caixadeinput{
    margin: auto;
    background-color: var(--cor07);
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
}

i{
    margin: 10px;
    background-color: #16161670;
    color: var(--cor02);
    width: 60px;
    border-radius: 20px;
}

#nome_de_usuario{
    margin-top: 5px;
}

#entrar > input{
    margin-left: 58px;
    background-color: var(--cor01);
    padding: 8px;
    width: 150px;
}

#entrar > input:hover{
    background-color: #aa4c40;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.315);
    transition: 400ms;
}

#senha{
    margin-bottom: 25px;
}

#senha > a{
    font-size: 0.6em;
    font-weight: bold;
    text-decoration: none;
    color: var(--cor05);
}

#senha > a:hover{
    text-decoration: underline;
}