@charset "UTF-8";

:root{

    --cor01: #ff7361;
    --cor02: #f19100;
    --cor03: #212121;
    --cor04: #3B618F;
    --cor05: #2f4858c2;
    --cor06: #233953;

}

body, html{
    background-image: linear-gradient(to bottom right, #13293E, #215376, #F66B0E);
}

form{
    margin: 130px 20px 0px 0px;
    float: right;
    width: 68%;
}

i{
    margin: 0px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
}

input{
    border-radius: 30px;
    width: 340px;
    padding: 3%;
}

#caixalogin{
    overflow: hidden;
    width: 79%;
    height: 435px;
    border-radius: 50px 50px 50px 50px;
    border: none;
    padding: 0px;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(122, 191, 247, 0.37);
}

#divemojitexto{
    position: absolute;
    left: 60%;
    top: 3%;

    display: inline-block;
}

#imagemfundo{
    position: absolute;
    margin-top: 40px;
    background: url('../imagem/login-pana.png') no-repeat right center;
    background-size: cover;
    width: 40%;
    height: 340px;
}

#entrar > input{
    margin-top: 9px;
    padding: 8px;
    width: 150px;
}

#senha{margin: 0px;}

#senha > a{margin-left: 200px;}

#isen{margin-bottom: 0px;}

#pcadastro{display: none;}

#pcadastro2{
    margin-left: 10px;

    display: inline;
    font-size: 0.75em;
    font-weight: bold;
    padding-top: 58px;
}

#pcadastro2 > a{
    color: black;
    text-decoration: none;
}

#pcadastro2 > a:hover{text-decoration: underline;}