@charset "UTF-8";

:root{

    --cor01: #ff7361;
    --cor02: #f19100;
    --cor03: #212121;
    --cor04: #3B618F;
    --cor05: #2f4858c2;
    --cor06: #233953;

}

body{
    background-color: green;
}

i{
    margin-left: -180px;
}

#imagemtime{
    display: none;
}

#caixalogin{
    position: absolute;
    left: 50%;
    
    background-color: var(--cor05);
    width: 950px;
    height: 475px;
    border: 4px solid var(--cor02);
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.404);
}

#imagemfundo{
    background-image: url('../imagem/sign-in-pana.png');
    margin-top: 80px;
    width: 330px;
    height: 270px;
}

#pcadastro2{
    margin-top: 20px;
}

.caixadeinput{
    text-align: center;
}